{% extends 'base.html' %}

{% block title %}Ошибка{% endblock %}

{% block nav %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" data-test="logo" href="/">Stepik Travel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>
{% endblock %}

{% block container %}
    <h1>Внутренняя ошибка сервера</h1>
{% endblock %}
