{% extends 'base_nav.html' %}

{% block container %}

<!-- HERO -->

<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Всякие туры</h1>
    <p class="lead">{{ titles.subtitle }}</p>
    <p class="mt-5 w-50 mx-auto">{{ titles.description }}</p>
</div>

<!-- CARDS -->

<div class="row mt-5">

    {% for tour_id, tour in tours %}
    <div class="col-4 mb-3">
        <div class="card h-100">
            <img src="{{ tour.picture }}" class="card-img-top" width="300" height="200">
            <div class="card-body d-flex flex-column">
                <h6 class="card-title"><strong>{{ tour.country }}: {{ tour.title }}</strong></h6>
                <p class="card-text">{{ tour.description | truncate(150, false) }}</p>
                <a href="/tours/{{ tour_id }}" class="btn btn-sm btn-primary mt-auto align-self-start">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}
